@import url("fonts.css");
/** 
 * ===================================================================
 * navbar styles 
 *
 * ------------------------------------------------------------------- 
 */
.header {
	width: 100%;
	min-height: 66px;
	position: absolute;
	background: #14171c;
	top: 0;
	left: 0;
	z-index: 600;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/**
 * primary navigation
 * - 
 */
.main-navigation {
	position: absolute;
	display: inline-block;
	width: auto;
	text-align: left;
	margin: 0px 200px 0px 0px;
	padding: 0;
	font-family: "raleway-heavy", sans-serif;
	font-size: 11.5px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	position: absolute;
	top: 0;
	right: 30px;
}
.main-navigation li {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 66px;
}
.main-navigation li.current a {
	color: #FFFFFF;
}
.main-navigation li.current a::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80%;
	height: 3px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #05bca9;
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-navigation li.highlight a {
	color: #05bca9;
}
.main-navigation li.with-sep a {
	position: relative;
	padding-left: 22px;
	margin-left: 8px;
}
.main-navigation li.with-sep a::before {
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 20px;
	margin-top: -10px;
	background-color: rgba(255, 255, 255, 0.2);
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* navigation links */
.main-navigation li a {
	display: block;
	padding: 18px 7px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
	color: #98999a;
	position: relative;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.main-navigation li a:active {
	background-color: transparent !important;
}
.main-navigation li a:hover {
	color: #FFFFFF;
}

/** 
 * ===================================================================
 * Title Page section
 *
 * ------------------------------------------------------------------- 
 */

.intro {
	background: #14181E url("/images/title-page.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
}
.shadow-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 56%);  /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 56%);  /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 56%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73000000', endColorstr='#00000000', GradientType=0);  /* IE6-9 */
}
.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	-webkit-transform: translateY(-1.2rem);
	-ms-transform: translateY(-1.2rem);
	transform: translateY(-1.2rem);
}
.intro-content h1 {
	color: #FFFFFF;
	font-family: "merriweather-bold", serif;
	font-size: 5.4rem;
	line-height: 1.334;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.intro-content h5 {
	color: rgba(255, 255, 255, 0.6);
	font-family: "raleway-heavy", sans-serif;
	font-size: 1.8rem;
	line-height: 1.667;
	margin-bottom: 0.6rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}

/** 
 * ===================================================================
 * Team Member component
 *
 * ------------------------------------------------------------------- 
 */
.team-member {
	width: 20%;
  	text-align: center;
  	color: #333;
  	font-size: 14px;
  	padding: 0 20px;
  	margin-bottom: 50px;
  	float: left;
}
.member-info h3 {
  	margin-top: 24px;
  	margin-bottom: 10px;
  	color: #333;
  	font-family: "montserrat-bold", sans-serif;
}
.member-info h4 {
  	font-size: 16px;
  	margin-top: 10px;
  	margin-bottom: 15px;
  	color: #999;
  	font-family: "montserrat-regular", sans-serif;
}
.member-info p,
.team-page-header p {
	line-height: 20px;
	font-family: "raleway-regular", sans-serif;
	font-size: 16px;
}
.team-member .img {
	height: 200px;
	width: 250px;
	max-width: 100%;
	max-height: 100%;
	background-size: contain;
}
.ana {
	background: url("/images/avatars/ana.jpg") no-repeat center;
}
.sikai {
	background: url("/images/avatars/sikai.jpg") no-repeat center;
}
.celeste {
	background: url("/images/avatars/celeste.jpg") no-repeat center;
}
.limkiat {
	background: url("/images/avatars/limkiat.jpg") no-repeat center;
}
.annabel {
	background: url("/images/avatars/annabel.jpg") no-repeat center;
}
.team {
	padding-top: 0;
}
.team-page-header h2 {
	font-family: "raleway-regular", sans-serif;
	font-size: 34px;
	padding-bottom: 10px;
}
.team-page-header {
  	text-align: center;
  	padding: 0 15px 15px 90px;
  	margin-bottom: 50px;
  	margin-top: 100px;
}
.team {
	padding-bottom: 60px;
}
/** 
 * ===================================================================
 * Team Page section
 *
 * ------------------------------------------------------------------- 
 */

  padding-bottom:90px;
}

